@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply rounded-lg font-montserrat font-medium transition-colors focus:outline-none focus:ring focus:ring-black;
}

input {
  @apply w-full rounded-md bg-zinc-200 py-1 px-2;
}

@layer components {
  .btn {
    @apply rounded-lg px-4 py-2 font-semibold;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-green-500 active:bg-primary;
  }

  .btn-secondary {
    @apply border-2 border-primary text-primary hover:bg-primary hover:text-white active:bg-white active:text-primary;
  }
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
html {
  height: -webkit-fill-available;
}

#__next,
#portal {
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#portal {
  z-index: 31;
}

.leaflet-popup-content-wrapper {
  box-shadow: none !important;

  @apply h-max w-[35rem];
}

.leaflet-popup-content {
  margin: 0 !important;
  width: 100% !important;

  @apply h-full px-8 py-4;
}

.leaflet-popup-content p {
  margin: 0 !important;
}

.leaflet-popup-tip-container {
  visibility: hidden;
}
